.chatbox{
  background-color: #f1b790;
  border: 2px solid grey;
  border-radius: 5px 0;
  margin: 5px;
  padding: 10px;
}
.me .chatbox{
  background-color: #7de8cc;
}

.container{
  display: flex;
}
.container.me{
  flex-direction:row-reverse;
}

.btm{
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
